langchain_huggingface
langgraph
langchain
langchain
python-dotenv
langchain_groq
langchain_tavily
fastapi
langchain_community
langchain_openai
cassio
sentence_transformers
faiss-cpu
beautifulsoup4
lxml
html5lib
pypdf
langchain_chroma
chromadb
langgraph-cli[inmem]
streamlit
langchain_chroma
flask
werkzeug
langchain_huggingface
langchain_chroma